html {
	background-color: #EAEEFA;
	font-family: "Calibri,Arial,sans-serif";
	font-size: 62.5%;
}

body {
	margin: 0;
	font-size: 1.8rem;
}

nav {
	background-color: #1d1d1d;
	line-height: 6rem;
	font-size: 1.7rem;
}

nav a {
	color: #ffffff;
	padding: 1rem
}

h1 {
	font-size: 4rem;
	letter-spacing: -1px;
	margin: 1em 0 0 25em;
}

.container {
	padding: .1rem;
	max-width: 94rem;
	margin: 0;
}